{% extends 'components/base.html' %} {% block content %}
<div class="login-container">
  <form action="" method="POST">
    <div class="form-header">
      <h2>Recover <span class="color-base">Your Account</span></h2>
      <p>Just fill in the listed below form.</p>
      <div class="divider"></div>
    </div>
    <div class="input-field">
      <input type="text" placeholder="Email address*" />
    </div>
    <div class="input-field">
      <input type="password" placeholder="New password*" />
    </div>
    <div class="input-field">
      <button class="btn-login">Recover</button>
    </div>
    <div class="input-field">
      <a class="btn-login" href="{% url 'signup' %}">signup</a>
    </div>
  </form>
</div>
{% endblock %}
